body {
    display: flex;
    flex-direction: column;
    margin: 0; 
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

li {
    list-style-type: none;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#one {
    display: flex;
    /*justify-content: center; <- this was unecessary because this section was already
    centered by the .section styling*/
    gap: 35px;
    background-color: #1F2937;
}

.left {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 300px;
}

button {
    width: 75px;
}

#sub-one {
    max-width: 350px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #E5E7EB
}

.section-heading {
    font-weight: extra-bold;
    font-size: 48px;
    max-width: 250px;
    color: #F9FAF8
}



